.cookie-consent-modal {
  position: fixed;
  z-index: 1000;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 95%; // TODO mobile
    max-width: 580px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    .modal-header, .modal-body, .modal-footer {
      padding: 1rem;
    }

    .modal-header {
      h3 {
        margin: 0;
      }
    }
  }
}
