$primary: #3579F6; // "accept all" button and privacy policy link color
$secondary: #89a; // "accept necessary" button color

.cookie-consent-modal {
  padding-top: 0;
  position: static;
  width: auto;
  height: auto;
  font-family: sans-serif;
  .modal-content-wrap {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    margin: 1rem;
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
    .modal-content {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: #fefefe; // the modals background color
      color: #123; // the modals text color
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); // the modals shadow
      padding: 0;
      // width: 95%;
      max-width: 700px;
      border-radius: 0.2rem;

      .modal-header {
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); // bootstrap-like lines

        h3 {
          margin: 0;
          font-size: 130%;
          font-weight: 500;
          position: relative;
          top: 0.2rem;
        }
      }

      .modal-body {
        padding: 1rem 1rem;
        line-height: 1.3;

        a {
          color: $primary;

          &:hover {
            color: darken($primary, 10%);
          }
        }
      }

      .modal-footer {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        // border-top: 1px solid rgba(0,0,0,0.1); // bootstrap-like lines

        .buttons {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;

          .btn {
            padding: 0.7rem 1.1rem;
            font-size: 100%;
            cursor: pointer;
            border: none;
            border-radius: 0.2rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            // "accept all" button
            &.btn-primary {
              background-color: $primary;
              color: white;

              &:hover {
                background-color: darken($primary, 10%);
              }
            }

            // "accept necessary" button
            &.btn-secondary {
              background-color: $secondary;
              color: white;

              &:hover {
                background-color: darken($secondary, 10%);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 620px) {
    .btn {
      width: 100%;
    }
  }

  &.block-access {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); // the fullscreen background layer
    padding-top: 20vh; // modals vertical position in desktop mode
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    @media screen and (max-width: 620px) {
      padding-top: 0;
    }
    .modal-content-wrap {
      position: relative;
      margin: 2.5% auto;
      .modal-content {
        border: none;
        margin: 0 auto;
      }
      bottom: auto;
      width: 95%;
    }
  }
}
